<div *ngIf="dropdownData" class="categories-container">
  <div *ngFor="let category of objectKeys(dropdownData)" class="dropdown">
    <ng-container *ngIf="hasContent(dropdownData[category])">
      <a [routerLink]="dropdownData[category]['route']" class="dropdown-btn">{{ category }}</a>
      <div class="dropdown-content">
        <div *ngFor="let subCategory of getValidSubCategories(category)">
          <div>
            <strong>{{ subCategory }}</strong>:
            <span>{{ getProcessedValue(dropdownData[category]?.[subCategory]) }}</span>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
